{{!< default}}
<div>
  <div class="gh-container">
    <div class="gh-hero">
      <img
        src="assets/images/logo.svg"
        class="gh-hero__img"
        alt="Logo of Succubus"
        width="180px"
        height="180px"
      />
      <h1 class="brand-header gh-hero__header">
        <span> Suc </span>
        <span class="brand-header__intermediary"> c </span>
        <span> ubus </span>
      </h1>
    </div>

    <div class="gh-postfeed">
      {{#foreach posts}}

      {{#if @first}}

      <div class="card-big-screen">
        {{> "card-first" }}
      </div>
      <div class="card-small-screen">
        {{> "card" }}
      </div>

      {{else}}
      {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
      {{/if}}

      {{/foreach}}
    </div>

    {{!-- If JS isn't enabled, fallback to standard pagination --}}
    <noscript>
      <div class="gh-pagination">
        {{ pagination }}
      </div>
    </noscript>
  </div>
</div>
