/* Global Footer
/* ---------------------------------------------------------- */

footer {
  background-color: var(--color-neutral-1);
}

.gh-foot {
  display: flex;
  flex-direction: column;
  padding: 10vmin 2vmin 4vmin;
}

@media screen and (min-width: 700px) {
  .gh-foot {
    padding: 5vmin 2vmin 2vmin;
  }
}

@media screen and (min-width: 1200px) {
  .gh-foot {
    padding: 5vmin 0vmin 2vmin;
  }
}

.gh-foot__header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.gh-foot__header-image {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 700px) {
  .gh-foot__header-image {
    width: 120px;
    height: 120px;
  }
}

.gh-foot__header-title {
  display: flex;
  font-family: var(--font-serif);
  font-size: 6rem;
  font-weight: normal;
}

.gh-foot__header-title-intermediary {
  color: var(--color-accent);
}

.gh-foot__links {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  gap: 8em;
}

.gh-foot__links h3 {
  font-size: 3rem;
}

.gh-foot__links ul {
  font-size: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.gh-foot .gh-container {
  width: auto;
}

.gh-foot a {
  color: inherit;
}

.footer-cta {
  position: relative;
  text-align: center;
}

.footer-cta-title {
  margin: 0 0 min(24px, 6.4vmin);
  font-size: clamp(2.6rem, 5vw, 3.8rem);
  font-weight: 800;
}

.has-serif-title .footer-cta-title {
  font-family: var(--font-serif);
}

.footer-cta-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 5px 5px 5px 15px;
  font-size: 1.7rem;
  color: var(--color-darkgrey);
  background: #fff;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  transition: border-color 0.2s;
}

.footer-cta-button:hover {
  border-color: color-mod(var(--color-border) l(-12%));
}

.footer-cta-button span {
  display: inline-block;
  padding: 9px 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.005em;
  background: var(--ghost-accent-color);
  border-radius: 6px;
}

.footer__social {
  display: flex;
  gap: 1em;
}

.footer__social-icons {
  width: 50px;
  height: 50px;
  position: relative;
}

.footer__social-icon-x {
  width: 46px;
  height: 46px;
  top: 1px;
}

.footer__social-icon-telegram {
  width: 57px;
  height: 57px;
  top: -3px;
}

.footer__social-icon-telegram > img {
  width: 100%;
  height: auto;
}
