/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

@use "~@jogarcia/mgrid/g-row.scss";
@use "~@jogarcia/mgrid/g-col.scss";
@use "~@jogarcia/mgrid/margin.scss" with (
  $base: 1,
  $range: 10,
  $unit: rem
);
@use "~@jogarcia/mgrid/padding.scss" with (
  $base: 1,
  $range: 10,
  $unit: rem
);

@use "components/card";

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    var(--color-neutral-1) 0%,
    var(--color-neutral-2) 100%
  );
}

@font-face {
  font-family: "voga";
  src:
    url("../fonts/Voga-Medium.woff2") format("woff2"),
    url("../fonts/Voga-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "corbel";
  src:
    url("../fonts/CORBEL.woff2") format("woff2"),
    url("../fonts/CORBEL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.gh-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.gh-article {
  padding: 8vmin 0;
}

.gh-postfeed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 4.8vmin 4vmin;
  padding: 8vmin 0;
}

.gh-postfeed > *:first-child {
  grid-column: 1 / -1;
}

.card-big-screen {
  display: none;
}

@media screen and (min-width: 750px) {
  .card-small-screen {
    display: none;
  }
  .card-big-screen {
    display: block;
  }
}

.gh-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 7em 0;
  position: relative;
}

.gh-hero:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  top: calc(50% - 200px);
  background: radial-gradient(
    circle,
    rgba(36, 30, 70, 0.9) 0%,
    rgba(36, 30, 70, 0) 70%
  );
}

@media screen and (min-width: 700px) {
  .gh-hero:before {
    height: 360px;
    width: 360px;
  }
}

@media screen and (min-width: 800px) {
  .gh-hero:before {
    height: 500px;
    width: 500px;
  }
}

.gh-hero__img,
.gh-hero__header {
  position: relative;
}

.gh-hero__img {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 700px) {
  .gh-hero__img {
    width: 140px;
    height: 140px;
  }
}

@media screen and (min-width: 800px) {
  .gh-hero__img {
    width: 180px;
    height: 180px;
  }
}

.gh-hero__header {
  font-size: 7rem;
  letter-spacing: 8px;
}

@media screen and (min-width: 700px) {
  .gh-hero__header {
    font-size: 10rem;
  }
}

@media screen and (min-width: 800px) {
  .gh-hero__header {
    font-size: 16rem;
  }
}

.gh-container {
  padding: 0 3vmin;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .gh-container {
    padding: 0;
  }
}

.gh-head-actions a:not(.gh-button) {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.gh-head-actions a svg {
  height: 1.8rem;
  fill: currentcolor;
}

.gh-head-actions a:first-child svg {
  margin-left: 20px;
}

.gh-head-actions a:last-child svg {
  height: 2rem;
}

/* Brand header
/* ---------------------------------------------------------- */

.brand-header {
  display: flex;
  font-family: var(--font-serif);
  font-weight: normal;
  text-transform: uppercase;
}

.brand-header__intermediary {
  color: var(--color-accent);
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
  margin: 0 auto;
  padding: 8vmin 0 4vmin;
  text-align: center;
}

.gh-page-image {
  margin: 4vmin 0 0 0;
}

.gh-page-head > p {
  max-width: 720px;
  margin: 0.3em auto 0;
  padding: 0 6vmin;
  font-size: 1.3em;
  line-height: 1.4em;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .gh-page-head > p {
    font-size: 1.6rem;
  }
}

/* 6.1. Post Byline
/* ---------------------------------------------------------- */

.article-byline {
  display: flex;
  justify-content: space-between;
  margin: min(24px, 5.6vmin) 0 0;
}

.article-byline-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.article-byline-content .author-list {
  justify-content: flex-start;
  padding: 0 14px 0 0;
}

.article-byline-meta {
  color: var(--color-secondary-text);
  font-size: 1.4rem;
  line-height: 1.2em;
}

.article-byline-meta .author-name {
  margin: 0 0 6px;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0;
}

.article-byline-meta .bull {
  display: inline-block;
  margin: 0 2px;
}

.author-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -4px;
  width: min(56px, 13.6vmin);
  height: min(56px, 13.6vmin);
  border: #fff 2px solid;
  border-radius: 50%;
  background-color: var(--color-border);
}

.page-template .article-title {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .article-byline-content .author-list {
    padding-right: 12px;
  }
  .article-byline-meta .author-name {
    margin-bottom: 4px;
  }
}

/* Post
/* ---------------------------------------------------------- */

.gh-header {
  padding: 0 0 8vmin 0;
  text-align: left;
}

.gh-title {
  font-size: 6.5rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.gh-excerpt {
  margin: 1rem 0 0 0;
}

.gh-feature-image {
  grid-column: main-start / main-end;
  width: 100%;
  margin: 8vmin 0 0;
}

.gh-feature-image img {
  margin-inline: auto;
  width: 100%;
}

.gh-post-footer {
  margin: 2rem 0;
}

/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
  height: 12vmin;
  width: 12vmin;
  margin: 0 auto 1.5em;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}

.gh-author-meta {
  margin: 2vmin 0 0 0;
  font-size: 1.2em;
}

.gh-author-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gh-author-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
  display: block;
  content: "";
  margin: 0 1.25vmin 0 0;
  height: 1em;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

@media (max-width: 700px) {
  .gh-author-meta {
    font-size: 1.6rem;
  }
}
